.body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    min-height:100vh;
}


.noArticles{
    display:flex;
    justify-content:center;
    align-items:center;
    height:70vh;
}