@media only screen and (min-width: 900px){
  /* COMPUTERS */
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width:100vw;
  }
  
  
  .container {
    /* background-color:red; */
    width:100vw;
  }
  
  
  
  
  
  
  .introContainer {
    display:flex;
    height:200px;
    justify-content:center;
    align-items:center;
  }
  
  .textIntro {
    font-size:40px;
    font-family:'DIN condensed';
    width:800px;
  }
  
  
  .section{
    font-size:30px;
    padding-left: 20px;
  }
  
  .artContainer{
    display:flex;
    width:100vw;
    height:65vh;
    overflow-x: scroll;
    overflow-y: none;
    padding:10px;
  }




  .artSubContainer{
    display: flex;
    flex-direction:column;
    width:300px;
    height:57vh;
    border-radius:10px;
    padding-left:30px;
    padding-right:30px;
  }
  

  .heartIcon{
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    width:30px;
    height:30px;
    background-color:white;
    border-radius:20px;
}

  .artContent{
    display: flex;
    flex-direction:column;
    width:250px;
    height:65vh;
    border-radius:10px;
  }
  .artContent:hover{
    display: flex;
    flex-direction:column;
    width:250px;
    height:65vh;
    border-radius:10px;
    box-shadow: 5px 5px 5px gray;
  }

  .image{
    display:flex;
    width:250px;
    height:140px;
    background-color:gray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    justify-content:center;
    align-items:center;
  }

  .artInfosContainer{
    display:flex;
    height:60px;
    justify-content:space-around;
    align-items:center;
    cursor: pointer;
  }

  .artInfosContent{
    width:90px;
    height:60px;
  }
  .artText {
    font-size:14px;
  }
}






@media only screen and (max-width: 900px){
  /*Tablets [601px -> 1200px]*/
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width:100vw;
  }
  
  
  .container {
    /* background-color:orange; */
    width:100vw;
    min-height:80vh;
    /* overflow-y: scroll; */
  }
  
  
  
  
  
  
  .introContainer {
    display:flex;
    height:180px;
    justify-content:center;
    align-items:center;
  }
  
  .textIntro {
    font-size:35px;
    width:80vw;
    padding-left: 25px;
  }
  
  
  .section{
    font-size:30px;
  }
  
  .artContainer{
    display:flex;
    width:100vw;
    height:300px;
    overflow-x: scroll;
    overflow-y: none;
    padding:10px;
  }



  .artSubContainer{
    width:310px;
    padding-left:30px;
    padding-right:30px;
  }

  .artContent{
    display: flex;
    flex-direction:column;
    width:250px;
    height:200px;
    border-radius:10px;
    /* border: 1px solid black; */
  }

  .image{
    display:flex;
    width:250px;
    height:140px;
    background-color:gray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    justify-content:center;
    align-items:center;
  }

  .artInfosContainer{
    display:flex;
    height:60px;
    justify-content:space-around;
    align-items:center;
  }

  .artInfosContent{
    width:90px;
    height:60px;
  }
  .artText {
    font-size:14px;
  }
}






@media only screen and (max-width: 600px){
  /*Big smartphones [426px -> 600px]*/
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width:480px;
  }
  .container {
    width:100vw;
    min-height:80vh;
  }



  .introContainer {
    display:flex;
    height:150px;
    justify-content:center;
    align-items:center;
  }

  .textIntro {
    font-size:25px;
    padding-left: 20px;
    width:80vw;
  }


  .section{
    font-size:35px;
  }
  
  .artContainer{
    display:flex;
    width:100vw;
    height:65vh;
    overflow-x: scroll;
    overflow-y: none;
    padding:10px;
  }




  .artSubContainer{
    display: flex;
    flex-direction:column;
    width:300px;
    height:57vh;
    border-radius:10px;
    padding-left:30px;
    padding-right:30px;
  }
  

  .heartIcon{
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    width:30px;
    height:30px;
    background-color:white;
    border-radius:20px;
}

  .artContent{
    display: flex;
    flex-direction:column;
    width:250px;
    height:65vh;
    border-radius:10px;
  }
  .artContent:hover{
    display: flex;
    flex-direction:column;
    width:250px;
    height:65vh;
    border-radius:10px;
    box-shadow: 5px 5px 5px gray;
  }

  .image{
    display:flex;
    width:250px;
    height:140px;
    background-color:gray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    justify-content:center;
    align-items:center;
  }

  .artInfosContainer{
    display:flex;
    height:60px;
    justify-content:space-around;
    align-items:center;
    cursor: pointer;
  }

  .artInfosContent{
    width:90px;
    height:60px;
  }
  .artText {
    font-size:14px;
  }
}






@media only screen and (max-width: 425px){
  /*Small smartphones [325px -> 425px]*/
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width:100vw;
    padding: 0px;
    margin: 0px;
  }
  .container {
    width:100vw;
    min-height:75vh;
  }
  


  .introContainer {
    display:flex;
    height:180px;
    justify-content:center;
    align-items:center;
  }

  .textIntro {
    font-size:25px;
    padding-left: 20px;
    padding-bottom: 20px;
    width:80vw;
  }


  .section{
    font-size:28px;
  }
  

  .artContainer{
    display:flex;
    width:100vw;
    height:65vh;
    overflow-x: scroll;
    overflow-y: none;
    padding:10px;
  }




  .artSubContainer{
    display: flex;
    flex-direction:column;
    width:300px;
    height:57vh;
    border-radius:10px;
    padding-left:30px;
    padding-right:30px;
  }
  

  .heartIcon{
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    width:30px;
    height:30px;
    background-color:white;
    border-radius:20px;
}

  .artContent{
    display: flex;
    flex-direction:column;
    width:250px;
    height:65vh;
    border-radius:10px;
  }
  .artContent:hover{
    display: flex;
    flex-direction:column;
    width:250px;
    height:65vh;
    border-radius:10px;
    box-shadow: 5px 5px 5px gray;
  }

  .image{
    display:flex;
    width:250px;
    height:140px;
    background-color:gray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    justify-content:center;
    align-items:center;
  }

  .artInfosContainer{
    display:flex;
    height:60px;
    justify-content:space-around;
    align-items:center;
    cursor: pointer;
  }

  .artInfosContent{
    width:90px;
    height:60px;
  }
  .artText {
    font-size:14px;
  }
}