@media only screen and (min-width: 900px){
    /*Tablets [601px -> 1200px]*/
    .container{
        display:flex;
        justify-content: space-around;
        padding:30px;
    }





    .subContainer{
        width:250px;
        height:95vh;
        border-right: 1px solid black;
        overflow-y:scroll;
    }
    .menu{
        cursor: pointer;
    }

    
    .menu:hover{
        font-size: 25px;
    }




    .noArticles{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        height:80vh;
        width:80vw;
    }
    .artFound{
        display:flex;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-items:center;
        height:95vh;
        width:70vw;
        overflow-y: scroll;
    }


    .artContainer{
        display:flex;
        justify-content: center;
        align-items: center;
        width:270px;
        height:420px;
        padding-right:30px;
        background-color: white;
    }
    
    .artSubContainer{
        display: flex;
        flex-direction:column;
        width:200px;
        height:300px;
        border-radius:10px;
    }
    .artSubContainer:hover{
        display: flex;
        flex-direction:column;
        width:250px;
        height:350px;
        border-radius:10px;
        box-shadow: 5px 5px 5px gray;
    }
    .heartIcon{
        display:flex;
        justify-content:center;
        align-items:center;
        cursor:pointer;
        width:30px;
        height:30px;
        background-color:white;
        border-radius:20px;
    }

    .lowerPart{
        display:flex;
        height:60px;
        justify-content:space-around;
        align-items:center;
        cursor:pointer;
    }
    .subLowerPart{
        width:90px;
        height:60px;
    }

    .text{
        font-size:14px;
    }
}
@media only screen and (max-width: 900px){
	/*Big smartphones [426px -> 600px]*/
    .container{
        display:flex;
        flex-direction: column;

    }




    .menuTitle{
        padding:20px;
        cursor:pointer;
    }

    .subContainer{
        width:100vw;
        height:50vh;
        overflow-y:scroll;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .menu{
        cursor: pointer;
    }

    
    .menu:hover{
        font-size: 25px;
    }




    .noArticles{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        height:80vh;
        width:80vw;
    }
    .artFound{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        min-height:95vh;
        width:100vw;

    }


    .artContainer{
        display:flex;
        justify-content: center;
        align-items: center;
        width:50vw;
        height:80vh;
        padding-left:30px;
        padding-right:30px;
    }
    .artSubContainer{
        display: flex;
        flex-direction:column;
        width:48vw;
        height:70vh;
        border-radius:10px;
        /* border: 1px solid black; */
    }
    .heartIcon{
        display:flex;
        justify-content:center;
        align-items:center;
        cursor:pointer;
        width:30px;
        height:30px;
        background-color:white;
        border-radius:20px;
    }

    .lowerPart{
        height:25vh;
        width:48vw;
        justify-content:flex-start;
        align-items:stretch;
        cursor:pointer;
    }
    .text{
        font-size: 20px;
    }
    .price{
        font-size:27px;
    }
}


