.artBody{
    display:flex;
    justify-content: center;
    align-items: center;
    width:270px;
    height:380px;
    padding-right:30px;
    background-color: white;
}




.artContainer{
    display: flex;
    flex-direction:column;
    width:200px;
    height:300px;
    border-radius:10px;
}

.artContainer:hover{
    display: flex;
    flex-direction:column;
    width:250px;
    height:350px;
    border-radius:10px;
    box-shadow: 5px 5px 5px gray;
}

.backgroundImg {
    display:flex;
    width:200px;
    height:240px;
    background-color:gray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    justify-content:flex-end;
    align-items:flex-start;
    
}




.artContent {
    display:flex;
    height:60px;
    justify-content:space-around;
    align-items:center;
    cursor:pointer;
}